@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
    cursor: url("../images/cursor.png") 1 1, auto;
    margin: auto;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    display: table-cell;
    vertical-align: middle;
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body {
    height: 100%;
}

#main {
    position: relative;
    display: none;
}

.center-items {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.hack-text {
    color: limegreen;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    font-family: 'Anonymous Pro', monospace;
}